{% load static %}
<html lang="en">

<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<title> WELDINGss AB DEL PERU S.A. </title>
<meta name="Author" content="welding ab">
<meta name="Keywords" content="welding ab, soldadura, gases, industriales">
<meta name="Description" content="">

<meta http-equiv="imagetoolbar" content="no">
<link rel="shortcut icon" href="favicon.html" type="image/x-icon">
 <!--<link rel="icon" href="favicon.html" type="image/ico">-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog1.css' %}">

</head>

<body>


<!--<audio id="music" loop src="audio.mp3" autoplay> </audio>-->

<!--<a class="flotante" href="#"><img border="0" src="imagenes/flr.png" /></a>-->

<a class="flonombre">WELDING AB DEL PERU S.A.</a>

<header>

    <section id="header">

     <section id="log5">
           <section id="log6"><font color="white">WELDING AB DEL PERÚ S.A.</font></section>
           <section id="log7"><font color="white">Lider en Gases y Accesorios Industriales y Medicinales</font></section>
     </section>

     <section id="log8"><font color="white">Av. Mexico 1498 - La Victoria -- Lima<br/>
  Tel. 511-3230266  -- 3230915   Fax: 511-3230662 Celular: 996318697<br/>
 <!--<img src="imagenes/Wapp.png" style="vertical-align:middle" />998240588 <br/>-->
   Horario de Atencion Lunes a Viernes: 8.45 am - 16.45 pm<br/>
 Sabado: 8.45 am - 12.45 am</font>
</section>

</header>


<!--<div id="sn_menu_ip">
	<input type="radio" name="sn_menu" id="sn_menuXX" class="ipXX">
	<input type="radio" name="sn_menu" id="sn_menu00" class="ip00">
	<input type="radio" name="sn_menu" id="sn_menu01" class="ip00 ip01">
	<input type="radio" name="sn_menu" id="sn_menu02" class="ip00 ip02">
	<input type="radio" name="sn_menu" id="sn_menu03" class="ip00 ip03">
	<input type="radio" name="sn_menu" id="sn_menu04" class="ip00 ip04">
	<input type="radio" name="sn_menu" id="sn_menu05" class="ip00 ip05">
	<input type="radio" name="sn_menu" id="sn_menu06" class="ip00 ip06">
	<input type="radio" name="sn_menu" id="sn_menu07" class="ip00 ip07">
	<input type="radio" name="sn_menu" id="sn_menu08" class="ip00 ip08">
	<input type="radio" name="sn_menu" id="sn_menu09" class="ip00 ip09">
	<input type="radio" name="sn_menu" id="sn_menu10" class="ip00 ip10">
	<input type="radio" name="sn_menu" id="sn_menu11" class="ip00 ip11">
    <input type="radio" name="sn_menu" id="sn_menu12" class="ip00 ip12">

<p id="sn_menu_toggle"><label for="sn_menu00"><span></span></label><label for="sn_menuXX"><span><span></label></p>

<div id="sn_menu_background"></div>

<div id="sn_menu_outer"><div id="sn_menu_vertical"></div>
	<ul id="sn_menu">
		<li class="sn_menu01"><label for="sn_menu01"><span></span>Introduccion</label><label for="sn_menu00"></label></li>
			<ul>
				<li><a href="index.php">Inicio</a></li>
				<li><a href="quienes4.php">Quienes somos</a></li>
				<li><a href="servicios4.php">Servicios</a></li>
			</ul>
		<li class="sn_menu02"><label for="sn_menu02"><span></span>Gases</label><label for="sn_menu00"></label></li>
			<ul>
				<li><a href="gases4.php">Gases</a></li>
			</ul>
		<li class="sn_menu03"><label for="sn_menu03"><span></span>Equipos autogenos</label><label for="sn_menu00"></label></li>
			<ul>
				<li><a href="equi-ind4.php">Estuches</a></li>
				<li><a href="acc-ind-aut4.php">Accesorios para soldadura autogena</a></li>
			</ul>
		<li class="sn_menu04"><label for="sn_menu04"><span></span>Sopletes</label><label for="sn_menu00"></label></li>
			<ul>
		                <li><a href="sop-ind4.php">Sopletes para corte,soldar y calentar</a></li>
				<li><a href="boq-cor4.php">Boquillas de corte</a></li>
				<li><a href="boq-sol4.php">Boquillas de soldar</a></li>
				<li><a href="boq-cal4.php">Boquillas de calentar</a></li>
                                <li><a href="niples4.php">Niples y conectores</a></li>
			</ul>
                <li class="sn_menu05"><label for="sn_menu05"><span></span>Reguladores</label><label for="sn_menu00"></label></li>
			<ul>
		                <li><a href="reg-ind4.php">Reguladores industriales</a></li>

			</ul>
               <li class="sn_menu06"><label for="sn_menu06"><span></span>Manometros</label><label for="sn_menu00"></label></li>
			<ul>
		                <li><a href="man-ind4.php">Manometros industriales</a></li>
				<li><a href="man-med4.php">Manometros medicinales</a></li>
			</ul>
               <li class="sn_menu07"><label for="sn_menu07"><span></span>Valvulas</label><label for="sn_menu00"></label></li>
			<ul>
		                <li><a href="val-pas4.php">Valvulas para cilindros</a></li>
				<li><a href="val-ant4.php">Bloqueador de llama para soplete</a></li>
				<li><a href="bloqueadores4.php">Bloqueador de llama para regulador</a></li>
				<li><a href="val-check4.php">Valvulas check</a></li>
			</ul>
               <li class="sn_menu08"><label for="sn_menu08"><span></span>Cilindros</label><label for="sn_menu00"></label></li>
			<ul>
		                <li><a href="cil-ind4.php">Cilindros para uso industrial</a></li>
				<li><a href="cil-med4.php">Cilindros para uso medicinal</a></li>
				<li><a href="cochesd4.php">Portacilindros dual</a></li>
				<li><a href="cochesi4.php">Portacilindros individual</a></li>
			</ul>
               <li class="sn_menu09"><label for="sn_menu09"><span></span>Soldadura electrica mig y tig</label><label for="sn_menu00"></label></li>
			<ul>
		                <li><a href="sol-lincoln4.php">Soldadura marca Lincoln</a></li>
				<li><a href="sol-linde4.php">Soldadura marca Linde</a></li>
				<li><a href="sol-ace4.php">Soldadura para aceros al carbono</a></li>
				<li><a href="sol-inox4.php">Soldadura para acero inoxidable</a></li>

                                <li><a href="sol-alu4.php">Soldadura para aluminio</a></li>
				<li><a href="sol-rec4.php">Soldadura de recargue</a></li>
				<li><a href="tun-alu4.php">Electrodos de tungsteno para aluminio</a></li>
				<li><a href="tun-ino4.php">Electrodos de tungsteno para acero inoxidable</a></li>

                                <li><a href="mig4.php">Soldadura mig</a></li>
				<li><a href="alambre4.php">Alambre mig</a></li>
				<li><a href="tig4.php">Soldadura tig</a></li>
				<li><a href="antorchas4.php">Antorchas</a></li>

                                <li><a href="mascaras4.php">Mascaras</a></li>
				<li><a href="acc-ind-ele4.php">Accesorios para soldadura electrica</a></li>
				<li><a href="discos4.php">Disco de corte y desbaste</a></li>
			</ul>
               <li class="sn_menu10"><label for="sn_menu10"><span></span>Equipos medicinales</label><label for="sn_menu00"></label></li>
			<ul>
		                <li><a href="equ-med4.php">Equipos portatiles de oxigeno</a></li>
				<li><a href="acc-med4.php">Accesorios medicinales</a></li>
						<li><a href="reg-med4.php">Reguladores medicinales</a></li>
                                <li><a href="man-med4.php">Manometros medicinales</a></li>
			</ul>
               <li class="sn_menu11"><label for="sn_menu11"><span></span>Articulos de seguridad</label><label for="sn_menu00"></label></li>
			<ul>
		                <li><a href="guantes4.php">Guantes</a></li>
				<li><a href="seguridad4.php">Mandiles y escarpines</a></li>
			</ul>
               <li class="sn_menu12"><label for="sn_menu12"><span></span>Ubicanos</label><label for="sn_menu00"></label></li>
			<ul>
				<li><a href="ubicanos4.php">Ubicanos</a></li>
				<li><a href="contacto4.php">Contacto</a></li>
			</ul>
	</ul>
</div>
</div>



<section id="por2">


<section id="video"><iframe allow="autoplay" frameborder="0" height="600" src="https://www.youtube.com/embed/-B63CkeMDb8?rel=0&amp;autoplay=1;showinfo=0&amp" width="100%"></iframe></section>


</section>

<section id="por3">

<section id="video"><iframe allowfullscreen="" frameborder="0" height="600" src="https://www.youtube.com/embed/-B63CkeMDb8?rel=0&amp;autoplay=1;showinfo=0&amp" width="100%"></iframe></section>
<section id="vi2"></section>-->

<footer>
<section id="titf">&copy; 2016 - WELDING AB DEL PER&Uacute; S.A. - Av. Mexico
 1498 - La Victoria - LIMA - PER&Uacute;<br />
Horario de Atencion Lunes a Viernes 8.45 am - 16.45 pm<br />
Sabado 8.45 am - 12.45 am;

<p>www.weldingab.com - Tel. 3230266 - 3230915 - Fax. 3230662 - Cel. 996318697 -
<!-- <img src="imagenes/Wapp2.png" style="vertical-align:middle" /> 998240588</p>-->

</section>
<br />
<section id="titw">&copy; 2016 - WELDING AB DEL PER&Uacute; S.A.<br />
Av. Mexico 1498 - La Victoria - LIMA - PER&Uacute<br />
Horario de Atencion Lunes a Viernes 8.45 am - 16.45 pm<br />
Sabado 8.45 am - 12.45 am;
<p>www.weldingab.com - Tel. 3230266 - 3230915<br />
Fax. 3230662 - Cel. 996318697 - <img src="imagenes/Wapp2.png" style="vertical-align:middle" /> 998240588</p>

</section>
</footer>

</section>

<link href="css/blog1.css" rel="stylesheet" />
<link href="css/menu2.css" rel="stylesheet" />
<script type="text/javascript" src="js/smenu2.js"></script>


</body>
</html>
